.container {
  padding: 25px 0 0 0;
  text-align: left;
  color: paleturquoise;
}

p.paras {
  color: yellow;
  background-color: pink;
}

h3.paras {
  color: white;
  background-color: pink;
}

h2.paras {
  color: green;
  background-color: pink;
}

p.otherother {
  color: black;
  background-color: white;
}

h3.otherother {
  color: red;
  background-color: white;
}

h2.otherother {
  color: blue;
  background-color: white;
}
